.slogan{
    min-height: 250px;
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container div{
    text-align: center;
}

@media screen and(max-width: 1093px) {
    .new{
        margin-bottom: 20px;
    }

}
