.contacts{
    height: 100vh;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    height: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mainContacts{
    border: 1px solid;
    width: 60%;
    height: 50%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactsInput{
    width: 100%;
}
.mainContacts textarea{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 626px) {
    .container{
        width: 100%;
    }
    
}
