.navMenu{
    width: 360px;
    display: flex;
    justify-content: space-between;
}
.navMenu a {
    text-decoration: saddlebrown;
    color: #1D628B;
    font-family: Montserrat;
}
.navMenu a:hover{
    color: gold;
    text-transform: uppercase;
    transition: 0.8s;
}
