.navMenu{
    width: 360px;
    display: flex;
    justify-content: space-between;
}
.navMenu a {
    text-decoration: goldenrod;
    color: whitesmoke;
    font-family: Montserrat;
}
.navMenu a:hover{
    color: goldenrod;
    text-transform: uppercase;
    transition: 0.8s;
}
