.navMenu{
    width: 360px;
    display: flex;
    justify-content: space-between;
}
.navMenu a {
    text-decoration: goldenrod;
    color: whitesmoke;
    font-family: Montserrat;
    transition: all 1s;
}
.navMenu a:hover{
    color: goldenrod;
    text-transform: uppercase;
    transition: all 1s;
}
