.main{
    /*height: 100vh;*/
    height: max-content;
    background-color: #1F1F20;
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
}
.greeting{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
}
.greeting span:nth-child(1){
    font-size: 14px;
    color: #E0E0DF;
    font-family: Montserrat;
    font-weight: 800;
}

.greeting span:nth-child(2) {
    font-size: 40px;
    color: #E0E0DF;
    font-family: Montserrat;
    font-weight: 800;
    position: relative;
    z-index: 0;
}
.greeting span:nth-child(2) span{
    font-size: 40px;
    color: #FAFAFA;
    font-family: Montserrat;
    font-weight: 800;
    position: relative;
    z-index: 0;
}


.greeting span:nth-child(2) span:before{
    content: "";
    width: 100%;
    height: 20px;
    background:  cadetblue;
    position: absolute;
    bottom: 0;
    z-index: -1;

}

.greeting h1:nth-child(3){
    font-size: 24px;
    color: #E0E0DF;
    font-family: Montserrat;
    font-weight: 800;
}

.photo{
    position: relative;
    z-index: 1;
    margin-top: 50px;
}
.photo div{
    height: 70vh;
    width: 280px;
    background-image: url("banner.jpg");
}
/*.photo div img{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
.photo div:before{
    content: "";
    position: absolute;
    height: 73.5vh;
    width: 270px;
    border: 5px solid #FAFAFA;
    left: 15px;
    top: -15px;
    z-index: -1;
}


@media screen and (max-width: 1172px) {
    .main{
        height: 100%;
    }
    /*.greeting{*/
    /*    padding-top: 30%;*/
    /*}*/
    .photo{
        margin-bottom: 5%;
    }

}
@media screen and (max-width: 797px){

    .greeting span:nth-child(2) span:before{
        display: none;
        /*content: "";*/
        /*width: 100%;*/
        /*height: 20px;*/
        /*position: absolute;*/
        /*bottom: 0;*/
        /*z-index: -1;*/
        /*background-color: rgba(0,0,0,1);*/
    }

}

@media screen and (max-width: 500px) {
    /*.photo div{*/
    /*    height: 50vh;*/
    /*    width: 250px;*/
    /*}*/
    /*.photo div:before{*/
    /*    height: 54vh;*/
    /*    width: 240px;*/

    /*}*/


}