.App {

}

html {
    width: 100%;
    max-width: 100%;
/*overflow-x: hidden;*/
}

body {
    /*align-items: center;*/
    width: 100%;
    max-width: 100%;
    /*overflow-x: hidden;*/
}

.particles {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;;
}

/*@media (min-device-width: 320px) {*/

/*}*/

