.button{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 7px 20px;
    margin: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    background: transparent;
    color: whitesmoke;
    max-width: 170px;
    margin: 15px auto;
    z-index: 0;
    text-align: center;
    border-radius: 0px;
    width: 100%;
    border: none;
    position: relative;
    font-family: Montserrat;
}
.button:hover{
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    color: #202020;
}
.button:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    width: 50%;
    background: goldenrod;
    z-index: -1;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    margin: 0 auto;
}
.button:hover:after{
    height: 100%;
    width: 100%;
    transition: 0.5s;
    color: goldenrod;
}

@media (min-device-width:320px) {

}

