.titleWrap {
}


.title{
    font-family: Montserrat;
    font-size: 36px;
    margin-bottom: 80px;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}
.title:before{
    content: "";
    position: absolute;
    background: darkslateblue;
    height: 1px;
    width: 55px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
}

/*@media screen and(max-width: 1093px) {*/
/*    .slogan .container .titleWrap .title::before {*/
/*        top: 100px;*/
/*    }*/

/*}*/


/*.line{*/
/*    background: #e9548d;*/
/*    width: 55px;*/
/*    height: 1px;*/
/*    margin: 30px auto;*/
/*}*/


/*@media screen and (max-width: 1252px) {*/
/*    .line{*/
/*        position: relative;*/
/*        bottom: 40px;*/
/*    }*/

/*}*/

/*@media screen and (max-width: 600px) {*/
/*   .line{*/
/*       position: relative;*/
/*       bottom: 50px;*/
/*   }*/

/*}*/