.topSkills{
    min-height: 100px;
    font-family: Montserrat;
    font-size: 36px;
    margin-bottom: 0;
    color: #fff;
    text-transform: capitalize;
}
.line{
    background: #e9548d;
    width: 55px;
    height: 1px;
    margin: 30px auto;
}


@media screen and (max-width: 1252px) {
    .line{
        position: relative;
        bottom: 40px;
    }

}

@media screen and (max-width: 600px) {
   .line{
       position: relative;
       bottom: 50px;
   }

}