.footerWrapper{
    height: max-content;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header{
    font-family: Montserrat;
    font-size: 20px;
    color: whitesmoke;
}
.iconWrapper{
    height: 35%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0
}
.iconWrapper div img{
    padding: 0 20px;
}
.socialIcon{
    border-radius: 15px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 20px 0;
    transition: all 0.5s;
}
.socialIcon:hover{
    transform: scale(1.5);
}
.copyRights{
    font-size: 10px;
    font-family: Montserrat;
    color: whitesmoke;
}

@media screen and (max-width: 626px) {
    .iconWrapper {
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .socialIcon{
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 340px) {
    .socialIcon {
        width: 20px;
        height: 20px;
    }
}

