.footer{
    height: max-content;
    background-color: #E0E0DF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header{
    font-family: Montserrat;
    font-size: 20px;
    color: black;
}
.footerContainer{
    height: 35%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0
}
.footerContainer div img{
    padding: 0 20px;
}
.socialIcon{
    border-radius: 15px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin: 20px 0
;
}
.copyRights{
    font-size: 10px;
    font-family: Montserrat;
    color: black;
}

@media screen and (max-width: 626px) {
    .footerContainer {
        width: 100%;
    }
}

@media screen and (max-width: 340px) {
    .socialIcons {
        width: 50px;
        height: 50px;
    }
}

